@font-face {
    font-family: "Consolas";
    src: url("fonts/Consolas.ttf") format("truetype");
}

.main-root {
    -fx-font-family: "Consolas";
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.separator .line {
    -fx-pref-width: 2;
    -fx-border-color: null;
}

.workspace {
    -fx-pref-width: 100%;
}

.button {
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-width: 300px;
}

.tooltip {
    -fx-padding: 5px;
}
