.main-root, .connection-root {
    -fx-font-family: "Consolas";
    -fx-font-size: 14px;
    -fx-background-color: #1e1f22;
    -fx-padding: 10px;
}

.separator .line {
    -fx-pref-width: 2;
    -fx-background-color: #313438;
    -fx-border-color: null;
}

.workspace {
    -fx-pref-width: 100%;
}

.button {
    -fx-background-color: #2d2d30;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-width: 300px;
}

.button:hover {
    -fx-background-color: #2e436e;
}

.tooltip {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-padding: 5px;
}

#connection-window {
    -fx-padding: 15px;
    -fx-background-color: #1e1f22;
    -fx-border-radius: 8px;
}

#connection-window Label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#connection-window TextField {
    -fx-border-radius: 4px;
    -fx-padding: 5px;
}
