.theme-background-color {
    -fx-background-color: #1e1f22;
}

.theme-settings-background-color {
    -fx-background-color: #2d2d30;
}

.theme-background {
    -fx-background: #1e1f22;
}

.theme-text-color {
    -fx-text-fill: #b0b0b0;
}

.theme-text-color-fill {
    -fx-fill: #b0b0b0;
}

.theme-separator {
    -fx-background-color: #313438;
}

.theme-menu-item .label {
    -fx-text-fill: #b0b0b0;
}

.theme-menu-item:hover {
    -fx-background-color: #313438;
}

.theme-button-background-color {
    -fx-background-color: #2d2d30;
    -fx-text-fill: #b0b0b0;
}

.theme-button-background-color:hover {
    -fx-background-color: #2e436e;
}

.theme-mini-button-background-color {
    -fx-background-color: transparent;
}

.theme-mini-button-background-color:hover {
    -fx-background-color: #2e436e;
}

.theme-settings-button-background-color {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #b0b0b0;
}

.theme-settings-button-background-color:hover {
    -fx-background-color: #2a3c63;
}

.theme-tooltip-background-color {
    -fx-background-color: #333333;
    -fx-text-fill: #b0b0b0;
}

.theme-query-area {
    -fx-control-inner-background: #2d2d30;
    -fx-text-fill: #b0b0b0;
    -fx-prompt-text-fill: #a6a6a6;
}

.theme-result-table {
    -fx-background-color: #2d2d30;
    -fx-border-color: #313438;
    -fx-text-fill: #b0b0b0;
}

.theme-result-table .column-header {
    -fx-background-color: #313438;
}

.theme-result-table .label {
    -fx-text-fill: #b0b0b0;
}

.theme-result-table .cell {
    -fx-text-fill: #b0b0b0;
}

.theme-result-table .filler {
    -fx-background-color: #313438;
}

.theme-result-table .table-row-cell {
    -fx-background-color: #2d2d30;
}

.theme-result-table .table-row-cell:odd {
    -fx-background-color: #313438;
}

.theme-result-table .scroll-bar:horizontal .track {
    -fx-background-color: #2a2a2a;
}

.theme-result-table .scroll-bar:horizontal .thumb {
    -fx-background-color: #616161;
}

.theme-result-table .scroll-bar:horizontal .increment-button,
.theme-result-table .scroll-bar:horizontal .decrement-button {
    -fx-background-color: #424242;
}

.theme-result-table .scroll-bar:vertical .track {
    -fx-background-color: #2a2a2a;
}

.theme-result-table .scroll-bar:vertical .thumb {
    -fx-background-color: #616161;
}

.theme-result-table .scroll-bar:vertical .increment-button,
.theme-result-table .scroll-bar:vertical .decrement-button {
    -fx-background-color: #424242;
}

.theme-result-table .scroll-bar .thumb:hover {
    -fx-background-color: #757575;
}

.theme-result-table .scroll-bar .thumb:pressed {
    -fx-background-color: #9e9e9e;
}

.theme-result-tab-table {
    -fx-background: #2d2d30;
    -fx-border-color: #2a2a2e;
}

.theme-result-tab-table .tab {
    -fx-background-color: #2a2a2e;
}

.theme-result-tab-table .tab:selected {
    -fx-background-color: #313438;
    -fx-border-color: #313438;
}

.theme-result-tab-table .tab .tab-label {
    -fx-text-fill: #b0b0b0;
}

.theme-result-tab-table .tab .tab-content {
    -fx-background-color: #2d2d30;
    -fx-text-fill: #b0b0b0;
}
