.custom-scroll-pane {
    -fx-background-color: transparent;
}

.arrow-icon {
    -fx-rotate: 270;
    -fx-fit-width: 30px;
    -fx-fit-height: 30px;
}

.menu-label {
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
}

.menu-root {
    -fx-pref-width: 300px;
    -fx-spacing: 5;
}

.menu-item {
    -fx-alignment: center-left;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
}

.menu-item.level-0 {
    -fx-padding: 0 0 0 0;
}

.menu-item.level-1 {
    -fx-padding: 0 0 0 20px;
}

.menu-item.level-2 {
    -fx-padding: 0 0 0 40px;
}

.button-container {
    -fx-spacing: 5px;
}

.menu-button {
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 20px;
    -fx-alignment: center;
}

.menu-button .image-view {
    -fx-fit-width: 20px;
    -fx-fit-height: 20px;
}

.vbox .menu-button {
    -fx-alignment: top-left;
    -fx-padding: 10px;
}
