.settings-root {
    -fx-font-family: "Consolas";
}

.main-vbox {
    -fx-padding: 20px;
}

.setting-box {
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-spacing: 10px;
    -fx-alignment: CENTER_LEFT;
}

.setting-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.combo-box {
    -fx-pref-width: 200px;
}

.button {
    -fx-padding: 5px 15px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
